textarea {
    width:400px;
    height:400px;
    margin:4px;
    border:1px solid #944E2F;
    border-radius:400px;
    padding:70px;
    margin-top: 40px;
}
input {
    font-family: 'Nunito Sans', sans-serif;
    color: #944E2F;
    font-size: 12px;
}

input, select, textarea {
    font-family: 'Nunito Sans', sans-serif;
    color: #C5A388;
    font-size: 12px;
}

::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    color: #C5A388;
    font-size: 12px;
    text-align: center;
}

form {
    border: none;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-message {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    justify-items: center;
}

.vent-info {
        display: block;
        height: 60%;
        width: 260px;
        background-color: white;
        align-content: center;
        text-align: center;
        padding: 1.5%;
        padding-top: 2%;
        margin-left: 1%;
        margin-top: 150px;
        color:  #944d2e;
        font-family: 'Nunito Sans', sans-serif;
        border: 1px solid #944d2e;
}

.chaman-pic {
    width: 400px;
}


.chaman-button {
    padding: 4px 14px;
    display: inline-block;
    color: #C5A388;
    background-color:  #944d2e;
    border: 1px solid #C5A388;
    border-radius: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    margin-top: 30px;
    width: 150px;
    text-decoration: none;
    text-align: center;
}

.form-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meet-alma-chaman-pacific {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    font-family: 'Nunito Sans', sans-serif;
    color: #C5A388;
    font-size:28px;
    font-weight: 800; 
    text-transform: uppercase; 
    z-index: 4; 
    background-color: white;
}

.form-message.container {
    margin-top: 50px;
}