@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.sentence {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: black;
    height: 344px;
    width: 280px;
    background-color: #C5A388;
    padding: 25% 10%;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin-top: 3%;
}