
.daily-mood-form {
    display: flex;
    flex-direction: column;
    margin-right: auto;

}
.inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}
.container {
    align-items: center;
}

.main-daily-container {
    display: flex;
    flex-direction: row;
    margin:auto;
    margin-top: 40px;
    align-items: center;
    justify-content: space-around;
    font-family: 'Nunito Sans', sans-serif;
    color: #944d2e;
}

.input[type='radio']:checked:after {
    background-color: #944d2e;
    border: 2px solid white;
}

.daily-mood-button {
    padding: 6px 15px;
    display: inline-block;
    color: #944d2e;
    border: 1px solid #944d2e;
    border-radius: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    background-color: transparent;
    margin-top: 30px;
    text-decoration: none;
}

.title-mood-daily {
    margin-top: 10px;
    display: -inline-block;
    font-family: 'Nunito Sans', sans-serif;
    color: #944d2e;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 800; 
    text-transform: uppercase; 
    z-index: 4;
}