
.daily-mood-form {
    display: flex;
    flex-direction: column;
    margin-right: auto;

}
.inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container {
    align-items: center;
}

.main-daily-container {
    display: flex;
    flex-direction: row;
    margin:auto;
    align-items: center;
    justify-content: space-around;
}