/* HEADER */

.header-video {
  width: 100vw;
  height: 80%;
}

.video-header {
  width: 100vw;
}

.logo-homepage {
  width: 150px;
  position: absolute;
  left: 45%;
}

.logo-home {
  width: 150px;
}

.homepage-baseline {
  font: Roboto;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.5);
}

.homepage-baseline-container {
  position: absolute;
  z-index: 50;
  top: 58%;
  left: 28%;
}

.main-content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-visual {
  /*background-image: url("crea1.png");*/
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  background-size: contains;
}

.snippet-homepage {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.type-snippet {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: rgb(192, 108, 69);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 30%;
  bottom: 40%;
  left: 17%;
  right: 20%;
  height: 40%;
  width: 70%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 1;
}

.snippet-homepage {
  margin-top: 60px;
  margin-bottom: 60px;
}

.type-legend {
  font-size: 12px;
  text-align: center;
  color: grey;
}

.tribal-pitch {
  width: 800px;
  text-align: left;
  margin-top: ;
}

.baseline-container {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.concept-pitch {
  color: grey;
  font-size: 14px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  margin-bottom: 90px;
}

.title-homepage {
  display: block;
  font-family: "Nunito Sans", sans-serif;
  color: #944d2e;
  font-size: 38px;
  margin-bottom: 30px;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 4;
}

.portrait {
  width: 190px;
}

.h3-homepage {
  color: #944e2f;
  margin-top: 10px;
  font-size: 22px;
  font-family: "Special Elite", cursive;
  text-align: center;
  margin-bottom: 40px;
}

/* SECTIONS */
.wrapping-all-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.left-picture-homepage {
  width: 450px;
}

.homepage-subtitles {
  color: #944e2f;
  font-size: 16px;
  margin-bottom: 10px;
}

.right-picture-homepage {
  margin-right: 0;
  position: relative;
  left: 10px;
  z-index: -4;
  height: 450px;
}

.col-md-3 {
  margin-right: 0;
}

.right-text-homepage {
  background-color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  z-index: 4;
  padding: 30px;
  width: 500px;
  position: relative;
  left: 30px;
  height: 300px;
}

.concept-pitch {
  font-family: "Nunito Sans", sans-serif;
  color: #944e2f;
  font-size: 12px;
}

.last-section {
  margin-bottom: 100px;
}
