/* 
font-family: 'Nunito Sans', sans-serif;
*/


.moodboard-wrapper{
    margin-top: 30px;
}

.moodboard-title {
    font-family: 'Pacifico', cursive;
    color: #C5A388;
    font-size: 34px;
    margin-top: 90px;
    margin-bottom: 30px;
}


.moodboard-subtitle {
    font-family: 'Pacifico', cursive;
    color: #C5A388;
    font-size: 16px;
    margin-top: 70px;
    margin-bottom: 10px;
}

.logo-moodboard {
    width: 160px;
    position: absolute;
    left: 40%;
    top: 3px;
    z-index: 200;
}

/* .scroll-container {
    scroll-snap-type: y mandatory;
    overflow: auto;
    outline: 1px dashed lightgray;
    flex: none;
    flex-flow: column nowrap;
    height: 100vh;
} */

/* .section-scroll {
    /* scroll-snap-align: start; 
    display: flex;
    color: black;
} */

.section-scroll {
    height: 500px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.bg1 {
    background-image: url('./Bar-top-moodboard.png');
}

.music-daily-div {
    background-color:#E37362;
    max-width: 280px !important;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.rhap_container.audio-compo {
    background-color: transparent;
}


.image-bg1 {
    width: 350px;
    height: 350px;
}

.image-hr-transition {
    width: 100vw;
}

.bg2 {
    height: 70vh;
    justify-content: space-between;
}

.evasion-section {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.evasion-room-title {
    font-family: 'Pacifico', cursive;
    color: #C5A388;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bg3 {
    justify-content: space-around;
    margin-bottom: 3%;
}

.chart-pic {
    position: relative;
    left: -90px;
    width: 280px;
}

.chart-info {
    position: relative;
    left: 90px;
    height: 344px;
    width: 260px;
    background-color: #DCCBB7;
    align-content: center;
    text-align: center;
    border-radius: 3px;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.videos {
    justify-content: space-around;
    align-items: center;
}


/* TO be changed to responsive*/
.yoga-pic,
.meditation-pic,
.coaching-pic,
.inspiration-pic {
    width: 300px;
    margin-top: 3%;
    position: relative;
    left: 110px
}

.toaster {
    color: #C5A388;
}

.inline {
    display: flex;
    flex-direction: row;
    width: 350px;
}

.toaster-column {
    align-items: center;
    margin: 8px auto;
    padding-top: 10px;
    font-size: 10px;
}

.notification-audio {
    display: none;
}
