/* .scroll-container {
    /* scroll-snap-type: y mandatory;
    overflow: auto;
    outline: 1px dashed lightgray;
    flex: none;
    flex-flow: column nowrap;
    height: 100vh; 
} */
.section {
    /* scroll-snap-align: start; */
    display: flex;
    /* align-items: center; */
    color: white;
    text-shadow: 0 0 5px #000; 
}
.bg1 {
    /* height: 90vh; */
    justify-content: center;
}
.bg2 {
    height: 70vh;
    justify-content: space-between;
}
.evasion-section {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.videos {
    /* display: flex;
    align-items: center; */
    justify-content: space-around;
    margin: 15px auto 50px ;
}



.toaster {
    color:#C5A388;
}
.inline {
    display: flex;
    flex-direction: row,

}
.toaster-column {
    align-items: center;
    margin: 8px auto;
    padding-top: 10px;
}
