/* SIGNUP FORM*/

.signup-visual {
    width: auto;
    width: 100vh;
    margin-left: 0;
    border-radius: 2%;
  }
  
  .image-signup-container{
    margin-left: 0;
    margin-right: 0;
  }
  
  .alignment-items {
    display: flex;
    flex-direction: row;
  }
  .signup-col {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .signup-form-container {
    margin: 0;
    padding: 0;
  }